contact-form#subject: "Předmět"
contact-form#subject-required: "předmět je vyžadován"
contact-form#email: "E-mail"
contact-form#email-required: "email je vyžadován"
contact-form#email-rule-email: "formát emailu není validní"
contact-form#name: "Jméno"
contact-form#name-required: "jméno je vyžadováno"
contact-form#message: "Zpráva"
contact-form#message-required: "zpráva je vyžadována"
contact-form#submit: "Odeslat"

contact-form-email#name: "Jméno"
contact-form-email#email: "E-mail"
contact-form-email#message: "Zpráva"
contact-form-email#generate: "Tento email byl vygenerován na základě vyplnění formuláře v sekci \"Kontakt\"."
