{*{control form}*}

{form form, class=>'ajax'}
    {label subject /}
    {input subject}

    {label email /}
    {input email}

    {label name /}
    {input name}

    {label message /}
    {input message}

    {input submit}
{/form}
